body {
  font-family: "Lato", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

ul.nav-bar {
  display: flex;
  list-style-type: none;
  margin-left: 30px;
}

div.semi-circle-container {
  width: 60px;
  height: 60px;
  overflow: hidden;
}

div.semi-circle {
  width: 60px;
  height: 60px;
  background-color: #000;
  border-radius: 50%;
  position: relative;
  right: 30px;
}

p.logo {
  font-size: 24px;
  font-weight: 900;
  margin-left: 17px;
  position: relative;
  bottom: 10px;
  right: 20px;
}

div.hamburger-menu {
  width: 200px;
  height: 200px;
  background-color: rgba(91, 193, 238, 0.5);
  transform: rotate(-45deg);
  position: absolute;
  top: -100px;
  right: -100px;
}

a.hamburger-link > img {
  position: relative;
  transform: rotate(45deg) scale(0.8);
  width: 42px;
  top: 80px;
  right: -25px;
}

ul.nav-bar > li:last-child {
  margin-left: auto;
}

main {
  text-align: center;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.container > h3 {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
}

div.container > h1 {
  margin: 0 0 50px 0;
  font-weight: 300;
  font-size: 60px;
  font-weight: 900;
}

/* SEARCH BAR */

div.search-bar {
  display: flex;
  align-items: center;
  width: 689px;
  height: 60px;
  box-shadow: 0px 4px 5px 0px rgba(184, 184, 184, 1);
  border-radius: 29px;
}

div.search-bar > img {
  width: 16px;
  height: 16px;
  padding: 15px;
}

div.search-bar > input {
  width: 80%;
  height: 24px;
  border: 0;
  font-size: 18px;
}

div.search-bar > input:focus {
  outline: 0;
}

div.search-bar > input::placeholder {
  font-size: 16px;
  color: #888;
}

div.search-bar > button {
  width: 145px;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  width: 140px;
  line-height: 24px;
  border-radius: 25px;
  margin-right: 2px;
}

div.search-bar > button:focus {
  outline: 0;
}

div.search-bar > button:hover {
  cursor: pointer;
}

div.grid-box {
  margin-top: 50px;
}

/* GRID */

div.grid-box {
  width: 820px;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(8, minmax(10px, 20px));
  grid-gap: 12px;
}

div.grid-item {
  overflow: hidden;
  border-radius: 20px;
}

div.grid-item > p,
div.grid-item > img {
  margin: 0;
  padding: 0;
}

div.grid-item-1 {
  background-color: #5bc1ee;
  grid-column: 1/5;
  grid-row: 1/5;
}

div.grid-item-2 {
  background-color: #fa7565;
  grid-column: 5/10;
  grid-row: 1/5;
}

div.grid-item-3 {
  background-color: #5eb9af;
  grid-column: 10/19;
  grid-row: 1/9;
}

div.grid-item-4 {
  background-color: #3a8eef;
  grid-column: 19/25;
  grid-row: 1/6;
}

div.grid-item-5 {
  background-color: #98d1d8;
  grid-column: 1/10;
  grid-row: 5/9;
}

div.grid-item-6 {
  background-color: #fa65ad;
  grid-column: 19/25;
  grid-row: 6/9;
}

/* FLOATING IMAGES */

div.grid-item-1 > img {
  position: relative;
  bottom: 20px;
  left: 25px;
}

div.grid-item-2 > img {
  position: relative;
  transform: rotate(-45deg);
  left: 60px;
  top: 55px;
}

div.grid-item-3 > img {
  transform: scale(0.7);
  position: relative;
  bottom: 15px;
  right: 50px;
}

div.grid-item-4 > img {
  position: relative;
  top: 60px;
}

div.grid-item-5 > img {
  position: relative;
  top: 40px;
  left: 110px;
  transform: scale(0.8);
}

div.grid-item-6 > img {
  position: relative;
  transform: rotate(180deg);
  top: 35px;
  right: 75px;
}

div.grid-item-1 > p {
  position: relative;
  top: 40%;
}

div.grid-item-2 > p {
  position: relative;
  top: 40%;
}

div.grid-item-3 > p {
  position: relative;
  top: 45px;
}

div.grid-item-4 > p {
  position: relative;
  top: 45px;
}

div.grid-item-5 > p {
  position: relative;
  top: 40%;
}

div.grid-item-6 > p {
  position: relative;
  top: 20%;
}

/* FOOTER */

footer {
  display: flex;
  margin-left: 100px;
  margin-top: 100px;
}

footer > p {
  margin-top: 50px;
  padding: 5px;
}

footer > p:first-child {
  padding-left: 0;
}

footer > p:last-child {
  margin-left: auto;
  padding-right: 100px;
}
