* {
  font-size: 12px;
}

body {
  margin: 20px 0 40px 150px;
  font-family: 'Lato', sans-serif;
  position: relative;
}

/************************************************/
/******************** NAVBAR ********************/
/************************************************/
nav {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  position: relative;
}
.logo p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 40px;
}
.logo .circle {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: black;
  position: absolute;
  left: -30px;
}
.logo .rectangle {
  display: block;
  width: 30px;
  height: 60px;
  background: #fff;
  position: absolute;
  left: -30px;
  z-index: 1;
}
.hamburger {
  position: absolute;
  top: 12px;
  right: 32px;
  z-index: 2;
}
.hamburger:hover ~ .overlay {
  transform: rotate(45deg) scale(1.1);
}
/*************************************************/
/******************** OVERLAY ********************/
/*************************************************/
.overlay {
  position: absolute;
  width: 500px;
  height: 350px;
  background: rgba(91, 193, 238, 0.5);
  top: -250px;
  right: -250px;
  transform: rotate(45deg);
  transition: transform 0.3s;
}
.overlay:hover {
  transform: rotate(45deg) scale(1.1);
}
/************************************************/
/******************** HEADER ********************/
/************************************************/
header {
  width: 60%;
  text-align: center;
  margin: 80px auto 0 auto;
}
header h1 {
  font-size: 3.5rem;
  font-weight: bolder;
  margin: 0;
}
header p {
  margin: 5px;
  color: #666666;
  font-size: 1.5rem;
}
/****************************************************/
/******************** SEARCH-BAR ********************/
/****************************************************/
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 70px auto;
  height: 60px;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  transition: transform 0.2s;
}
.search-bar input {
  flex: 12;
  margin-left: 15px;
  border: none;
}
.search-bar input::placeholder {
  font-size: 1.5rem;
}
.search-bar button {
  flex: 4;
  background: #000;
  color: #fff;
  border: none;
  height: 50px;
  border-radius: 25px;
  margin-right: 5px;
}
.search-bar img {
  margin-left: 15px;
  transform: scale(1.5);
}
.search-bar:hover {
  transform: scale(1.05);
}
/***********************************************/
/******************** TILES ********************/
/***********************************************/
.tiles-container {
  display: flex;
  justify-content: center;
}
.tiles {
  display: grid;
  grid-template-columns: 120px 181px 282px 200px;
  grid-template-rows: 120px 42px 96px;
  grid-gap: 12px;
}
.tile {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: grid;
  align-items: center;
}
.tile p {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  z-index: 1;
}
.tile img {
  position: absolute;
}
.cloud {
  grid-row: 1;
  grid-column: 1;
  background: #5BC1EE;
}
.cloud img {
  top: 0;
  right: 10%;
}
.analytic {
  grid-row: 1;
  grid-column: 2 / 3;
  background: #FA7565;
}
.analytic img {
  bottom: -20px;
  right: 5px;
  transform: rotate(-45deg);
}
.jargon {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
  background: #98D1D8;
}
.jargon img {
  bottom: -20px;
  right: 8px;
}
.consultation {
  grid-row: 1 / 4;
  grid-column: 3;
  background: #5EB9AF;
}
.consultation img {
  top: 20%;
  left: -80px;
  transform: scale(0.9);
}
.consultation p {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50px;
}
.design {
  grid-row: 1 / 3;
  grid-column: 4;
  background: #3A8EEF;
}
.design img {
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.design p {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50px;
}
.mobile {
  grid-row: 3;
  grid-column: 4;
  background: #FA65AD;
}
.mobile img {
  transform: rotate(180deg);
  bottom: -5px;
}
.tile:hover {
  transform: scale(1.05);
}
/************************************************/
/******************** FOOTER ********************/
/************************************************/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 150px 0 0;
}
.footer-link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding: 0 10px;
}
.footer-link:nth-of-type(2) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }
  /************************************************/
  /******************** NAVBAR ********************/
  /************************************************/
  .logo {
    z-index: 1;
  }
  .hamburger {
    top: 18px;
    right: 18px;
  }
  .hamburger:hover ~ .overlay {
    transform: rotate(0) scale(1.1);
  }
  /*************************************************/
  /******************** OVERLAY ********************/
  /*************************************************/
  .overlay {
    position: absolute;
    width: 800px;
    height: 60px;
    background: rgba(91, 193, 238, 0.5);
    top: 0;
    right: 0;
    transform: rotate(0);
    transition: transform 0.3s;
  }
  .overlay:hover {
    transform: rotate(0) scale(1);
  }
  /************************************************/
  /******************** HEADER ********************/
  /************************************************/
  header {
    width: 100%;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column-reverse;
  }
  header h1 {
    font-size: 2.5rem;
  }
  header p {
    font-size: 1.2rem;
  }
  /****************************************************/
  /******************** SEARCH-BAR ********************/
  /****************************************************/
  .search-bar {
    width: 400px;
    margin: 30px auto;
    height: 40px;
    border-radius: 20px;
  }
  .search-bar input::placeholder {
    font-size: 1.2rem;
  }
  .search-bar button {
    height: 30px;
    border-radius: 15px;
  }
  .search-bar:hover {
    transform: scale(1.035);
  }
  /***********************************************/
  /******************** TILES ********************/
  /***********************************************/
  .tiles {
    grid-template-rows: 120px 282px 200px;
    grid-template-columns: 120px 42px 96px 96px 96px;
    grid-gap: 9px;
  }
  .cloud {
    grid-row: 1;
    grid-column: 4 / 6;
  }
  .analytic {
    grid-row: 1;
    grid-column: 1 / 4;
  }
  .jargon {
    grid-row: 3;
    grid-column: 1 / 4;
  }
  .consultation {
    grid-row: 2;
    grid-column: 3 / 6;
  }
  .design {
    grid-row: 3;
    grid-column: 4 / 6;
  }
  .mobile {
    grid-row: 2;
    grid-column: 1 / 3;
  }
  .tile:hover {
    transform: scale(1.035);
  }
  /************************************************/
  /******************** FOOTER ********************/
  /************************************************/
  footer {
    margin: 10px 10px 10px 0;
  }
  
}
@media (max-width: 510px) {
  /************************************************/
  /******************** NAVBAR ********************/
  /************************************************/
  .hamburger {
    top: 8px;
    right: 8px;
    transform: scale(0.5);
  }
  .logo p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 8px 25px;
    line-height: 24px;
  }
  .logo .circle {
    width: 40px;
    height: 40px;
    left: -20px;
  }  
  .overlay {
    height: 40px;
  }
  .hamburger:hover ~ .overlay {
    transform: rotate(0) scale(1.1);
  }
  /****************************************************/
  /******************** SEARCH-BAR ********************/
  /****************************************************/
  .search-bar:hover {
    transform: scale(1.02);
  }
  /***********************************************/
  /******************** TILES ********************/
  /***********************************************/
  .tiles {
    grid-template-rows: 120px 282px 181px 200px;
    grid-template-columns: 120px 42px 96px 96px;
    grid-gap: 6px;
  }
  .cloud {
    grid-row: 3;
    grid-column: 4;
  }
  .analytic {
    grid-row: 1;
    grid-column: 3 / 5;
  }
  .jargon {
    grid-row: 4;
    grid-column: 1 / 5;
  }
  .consultation {
    grid-row: 2;
    grid-column: 1 / 5;
  }
  .design {
    grid-row: 3;
    grid-column: 1 / 4;
  }
  .mobile {
    grid-row: 1;
    grid-column: 1 / 3;
  }
  .tile:hover {
    transform: scale(1.02);
  }
}